:root {
	--color-bg: #d9d9d9;
	--color-text-1: #191919;
	--color-text-2: #5a5a5a;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Figtree';
	font-size: 18px;
	line-height: 200%;
	overflow-x: hidden;

	background-color: var(--color-bg);
	color: var(--color-text-1);
}

#svelte {
	display: flex;
	flex-direction: column;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: var(--color-text-1);
	font-weight: 700;
}

a:hover {
	text-decoration: underline;
}

a.button {
	display: inline-block;
	color: inherit;
	font: inherit;
	font-weight: bold;
	padding: $space-xs $space-s;
	border: 2px solid var(--color-text-1);

	&:hover {
		cursor: pointer;
		background-color: var(--color-text-1);
		color: var(--color-bg);
		text-decoration: none;
	}
	&.inverted {
		border-color: var(--color-bg);
	}
	&.inverted:hover {
		background-color: var(--color-bg);
		color: var(--color-text-1);
	}
}

button {
	color: inherit;
	font: inherit;
	border: none;
	padding: 0;
}
button:hover {
	cursor: pointer;
}
