:root {
	--light: #d9d9d9;
	--mid-light: #b9b9b9;
	--mid-dark: #393939;
	--dark: #191919;
	--font-size: 18px;
}

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	font-size: 18px;
	overflow-x: hidden;
	color: var(--dark);
}

#svelte {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

p {
	line-height: 175%;

	&:first-of-type {
		margin-top: 0;
	}
}

h1 {
	margin: $l + $m 0;
}

h1,
h2,
h3 {
	text-align: center;
}

picture {
	line-height: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: var(--dark);
	font-weight: 700;

	&:hover {
		text-decoration: underline;
	}
	&:active {
		transform: scale(0.95);
	}
}

a.button {
	display: inline-block;
	padding: $s + $t $m;
	font: inherit;
	font-weight: bold;
	background-color: var(--mid-light);
	color: var(--dark);
	border-radius: $s;

	&:hover {
		cursor: pointer;
		background-color: var(--mid-dark);
		color: var(--light);
		text-decoration: none;
	}

	&:active {
		background-color: var(--dark);
		color: var(--light);
		transform: none;
	}

	&.inverted {
		background-color: var(--mid-dark);
		color: var(--light);

		&:hover {
			background-color: var(--mid-light);
			color: var(--dark);
		}

		&:active {
			background-color: var(--light);
			color: var(--dark);
		}
	}
}

a.button.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $l + $m;
	height: $l + $m;
	padding: 0;
	border-radius: 50%;

	& i {
		font-size: 24px;
	}
}

button {
	background: transparent;
	color: inherit;
	font: inherit;
	border: none;
	padding: 0;

	&:hover {
		cursor: pointer;
	}
}
