:root {
	--light: #d9d9d9;
	--semi-light: #c1c1c1;
	--mid-light: #a9a9a9;
	--mid-dark: #494949;
	--semi-dark: #313131;
	--dark: #191919;
	font-size: 112.5%;
}

@media (max-width: 1300px) {
	:root {
		font-size: 100%;
	}
}

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	color: var(--dark);
	background-color: var(--dark);
}

#svelte {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

p {
	line-height: 175%;
	margin: 0 0 1rem 0;
}

h1 {
	margin: 2rem 0;
}

picture,
source {
	line-height: 0;
	display: block;
}

a {
	@include clickable-text;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;

	&:hover {
		text-decoration: underline;
	}

	&.inverted {
		@include clickable-text-inverted;
	}
}

a.button {
	@include button;
	display: inline-block;
	padding: 0.6rem 0.8rem;
	font-weight: 700;
	border-radius: 0.5rem;

	&.inverted {
		@include clickable-inverted;
	}

	&.icon {
		@include flex-center;
		width: 3rem;
		height: 3rem;
		padding: 0;
		border-radius: 50%;

		& i {
			font-size: 1.4rem;
		}
	}
}

a.clickable {
	@include button;
	padding: 1rem;
	border-radius: 1rem;
}

button {
	background: transparent;
	color: inherit;
	font: inherit;
	border: none;
	padding: 0;

	&:hover {
		cursor: pointer;
	}
}

.caption {
	font-size: 0.9rem;
	font-style: italic;
	margin: 0.5rem 0 0 0;
	text-align: center;
}
