:root {
	--color-bg: #e5e5e5;
	--color-text-1: #191919;
	--color-text-2: #5a5a5a;
}

body {
	margin: 0;
	font-family: 'Segoe UI';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-bg);
	color: var(--color-text-1);
	font-size: 18px;
	line-height: 200%;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: var(--color-text-1);
	font-weight: 700;
}

a:hover {
	text-decoration: underline;
}

a.button {
	display: inline-block;
	font: inherit;
	font-weight: bold;
	color: inherit;
	padding: 10px 20px;
	border: 2px solid var(--color-text-1);
}
a.button:hover {
	cursor: pointer;
	background-color: var(--color-text-1);
	color: var(--color-bg);
}
