@mixin button {
	font: inherit;
	text-decoration: none;
	transform: none;

	&:hover {
		cursor: pointer;
	}

	&:active {
		transform: scale(0.98);
	}
}

@mixin flex($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin flex-center {
	@include flex(row, center, center);
}

@mixin clickable-text {
	color: var(--shade-10);

	&:hover {
		color: var(--shade-30);
	}
	&:active {
		transform: scale(0.99);
	}
}

@mixin clickable-text-inverted {
	color: var(--shade-90);

	&:hover {
		color: var(--shade-70);
	}
	&:active {
		transform: scale(0.99);
	}
}

@mixin clickable {
	color: var(--shade-90);
	background-color: var(--shade-10);

	&:hover {
		color: var(--shade-90);
		background-color: var(--shade-20);
	}
}

@mixin clickable-light {
	color: var(--shade-10);
	background-color: var(--shade-80);

	&:hover {
		color: var(--shade-10);
		background-color: var(--shade-70);
	}
}

@mixin clickable-inverted {
	color: var(--shade-10);
	background-color: var(--shade-90);

	&:hover {
		color: var(--shade-10);
		background-color: var(--shade-70);
	}
}

@mixin clickable-header {
	color: var(--shade-90);
	background-color: var(--shade-10);

	&:hover {
		color: var(--shade-90);
		background-color: var(--shade-20);
	}

	&.active {
		background-color: var(--shade-90);
		color: var(--shade-10);
	}

	&.semi-active {
		background-color: var(--shade-20);
		color: var(--shade-90);
	}
}

@mixin small-headings {
	h1 {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 1.3rem;
	}
	h3 {
		font-size: 1.1rem;
	}
}
